{:mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  ring/ring-core {:mvn/version "1.6.3"}
  ring/ring-jetty-adapter {:mvn/version "1.6.3"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  compojure {:mvn/version "1.6.1"}
  integrant {:mvn/version "0.6.3"}}

 :aliases
 {:repl
  {:extra-deps
   {org.clojure/tools.nrepl {:mvn/version "0.2.12"}
    cider/cider-nrepl {:mvn/version "0.17.0"}
    refactor-nrepl {:mvn/version "2.4.0-SNAPSHOT"}
    acyclic/squiggly-clojure {:mvn/version "0.1.9-SNAPSHOT"}
    org.clojure/tools.namespace {:mvn/version  "0.2.11"}}
   :main-opts ["-m" "mon-compte-connector.repl"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {eftest {:mvn/version "0.5.2"}
                ring/ring-mock {:mvn/version "0.3.2"}}}
  :uberjar
  {:extra-deps
   {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                     :sha     "14e821006ac36cc7f2c7d0be83d4cb9e59fa308a"}}
   :main-opts ["-m" "mach.pack.alpha.capsule" "-m" "mon-compte-connector.core" "-e" "src" "-d" "deps.edn" "dist/mon-compte-connector.jar"]}}}
