{:mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  ring/ring-core {:mvn/version "1.6.3"}
  ring/ring-jetty-adapter {:mvn/version "1.6.3"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  compojure {:mvn/version "1.6.1"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps
   {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                               :sha "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}
    ring/ring-mock {:mvn/version "0.3.2"}}
   :main-opts ["-m" "cognitect.test-runner"]}
  :uberjar
  {:extra-deps
   {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                     :sha     "14e821006ac36cc7f2c7d0be83d4cb9e59fa308a"}}
   :main-opts ["-m" "mach.pack.alpha.capsule" "-m" "mon-compte-connector.core" "-e" "src" "-d" "deps.edn" "dist/mon-compte-connector.jar"]}}}
